<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout}">
<head>
</head>
<body>

<div layout:fragment="container" class="container">
    <div class="ml-4 mt-4">
        <form th:object="${team}" th:action="@{/admin/teams}" th:method="post">
            <!--    Hidden field necessary for updates-->
            <input type="hidden" th:field="*{id}"/>
            <!--    Team name-->
            <input type="text" th:field="*{teamName}" class="form-control mb-3 col-2" placeholder="Nazwa drużyny" />
            <!--    Team crest-->
            <input type="text" th:field="*{crestSource}" class="form-control mb-3 col-5" placeholder="Link do herbu drużyny" />
            <img th:src="*{crestSource}" class="upload_img_size" /><br /><br />
            <!--    Errors-->
            <p class="alert alert-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            <!--    Save-->
            <button name="action" th:value="${team.id == 0} ? 'newTeam' : 'editTeam'"
                    type="submit" class="btn btn-info col-1">Zapisz
            </button>
        </form>
    </div>
</div>
</body>
</html>