<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout}">
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $('.chkCheckBoxId').prop('checked', true);
                } else
                    $('.chkCheckBoxId').prop('checked', false);
            });
        });
    </script>

    <script th:inline="javascript">
        //helps generate onchange element id
        window.onload = onchangeWrapper();

        function onchangeWrapper(iterateValue) {
            return 'chb' + iterateValue;
        }
    </script>
</head>
<body>

<div layout:fragment="container" class="container">
    <form th:method="post" th:action="|/matches/process/${season.id}/${roundId}|" class="form-inline">
        <table class="table table-bordered table-striped">
            <caption><span th:text="|Mecze kolejki ${roundNumber} sezonu ${season.seasonName}|"></span></caption>
            <thead class="thead-dark">
            <th scope="col" style="width: 5%; text-align: center">ID</th>
            <th scope="col" style="width: 5%; text-align: center" class="align-middle">
                <input type="checkbox" id="checkBoxAll"/></th>
            <th scope="col">Data</th>
            <th scope="col">Czas</th>
            <th scope="col">Drużyna 1</th>
            <th scope="col">Gole</th>
            <th scope="col">Drużyna 2</th>
            </thead>
            <tbody style="text-align: center">
            <tr th:each="match, iteration : ${matches}">
                <th scope="row" th:text="${match.id}" style="text-align: center" class="align-middle"></th>
                <td style="text-align: center" class="align-middle">
                    <input th:id="|chb${iteration.index}|" type="checkbox" class="chkCheckBoxId" name="checkBoxMatchId"
                           th:value="${match.id}"/>
                </td>
                <td>
                    <input type="date" class="form-control col-9" name="matchDate" th:value="${match.matchDate}"
                           th:attr="onchange='document.getElementById(onchangeWrapper(' + ${iteration.index} + ')).checked=true'" />
                    <input type="hidden" th:value="${match.id}" name="matchDateId" />
                </td>
                <td>
                    <input type="time" class="form-control" name="matchStartTime" th:value="${match.matchStartTime}"
                           th:attr="onchange='document.getElementById(onchangeWrapper(' + ${iteration.index} + ')).checked=true'" />
                    <input type="hidden" th:value="${match.id}" name="matchStartTimeId" />
                </td>
                <td><!--                List to choose home teams from given season-->
                    <select th:id="${'homeTeams'+iteration.index}" name="homeTeamsFromSeasonSelector" class="form-control"
                            th:attr="onchange='document.getElementById(onchangeWrapper(' + ${iteration.index} + ')).checked=true'">
                        <option th:value="'null-' + ${match.id}" th:text="'Wybierz drużynę'"></option>
                        <option th:each="team : ${season.teams}"
                                th:value="${team.teamName} + '-' + ${match.id}"
                                th:text="${team.teamName}"
                                th:selected="${match.homeTeam != null} and ${team.teamName==match.homeTeam.teamName}"></option>
                    </select>
                </td>
                <td style="text-align: center">
                    <input type="text" th:value="${match.homeScore}" name="homeScore" class="form-control"
                           style="width: 45px; text-align:center" maxlength="2"
                           th:attr="onchange='document.getElementById(onchangeWrapper(' + ${iteration.index} + ')).checked=true'" />
                    <input type="hidden" th:value="${match.id}" name="homeScoreId" />
                    :
                    <input type="text" th:value="${match.awayScore}" name="awayScore" class="form-control"
                           style="width: 45px; text-align:center" maxlength="2"
                           th:attr="onchange='document.getElementById(onchangeWrapper(' + ${iteration.index} + ')).checked=true'" />
                    <input type="hidden" th:value="${match.id}" name="awayScoreId" />
                </td>

                <td><!--                List to choose away teams from given season-->
                    <select th:id="${'awayTeams'+iteration.index}" name="awayTeamsFromSeasonSelector" class="form-control"
                            th:attr="onchange='document.getElementById(onchangeWrapper(' + ${iteration.index} + ')).checked=true'">
                        <option th:value="'null-' + ${match.id}" th:text="'Wybierz drużynę'"></option>
                        <option th:each="team : ${season.teams}"
                                th:value="${team.teamName} + '-' + ${match.id}"
                                th:text="${team.teamName}"
                                th:selected="${match.awayTeam != null} and ${team.teamName==match.awayTeam.teamName}"></option>
                    </select>
                </td>
            </tr>
            <tr th:if="${pausedTeams.size()} > 0"><!-- Visible only if there are skipped teams in this round-->
                <td colspan="7" style="text-align: left">Pauzujące drużyny:
                    <span th:each="team : ${pausedTeams}"
                          th:text="${team.teamName} + (${team}==${pausedTeams.get(pausedTeams.size()-1)} ? '' : ', ')">
<!--                        If the team is the last element of the list then do not add a comma-->
                    </span>
                </td>
            </tr>
            <button type="submit" name="action" value="addMatches"
                    class="btn btn-info mt-2 mb-2">Dodaj mecz(e):</button>

            <input type="number" min="1" max="99" maxlength="2" th:value="${matches.size() == 0} ? ${season.teams.size()/2} : '1'"
                   name="numberOfMatchesToAdd" class="form-control mr-2" style="width: 60px; border: 1px solid turquoise" />

            <button type="submit" class="btn btn-info col-1 ml-2 mt-2 mr-1 mb-2" name="action" value="save">Zapisz</button>
            <button type="submit" class="btn btn-info col-1 ml-2 mt-2 mr-1 mb-2" name="action" value="delete"
                    onclick="return confirm('Napewno chcesz usunąć wybrane mecze?')">Usuń</button>
            </tbody>
        </table>
    </form>
    <a th:href="|/seasons/show-rounds/${season.id}|" class="btn btn-outline-info btn-sm">Powrót do listy kolejek</a>
</div>

</body>
</html>