<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout}">
<head>
</head>
<body>

<div layout:fragment="container" class="container">
    <a th:href="${'/admin/newround/'+seasonId}" class="btn btn-info mt-2 mb-2">Nowa kolejka</a>
    <table class="table table-bordered table-striped table-hover">
        <caption>Kolejki sezonu <span th:text="${seasonName}"></span></caption>
        <thead class="thead-dark">
        <th scope="col" style="width: 5%; text-align: center">ID</th><!-- ID-->
        <th scope="col">Kolejka</th><!-- Round number-->
        <th style="width: 15%"></th><!-- Edit round-->
        <th style="width: 10%"></th><!-- Delete round-->
        </thead>

        <tbody>
        <tr th:each="round : ${rounds}">
            <th scope="row" style="width: 5%; text-align: center" th:text="${round.id}"></th>
            <td><a th:href="|/admin/seasons/show-matches/${seasonId}/${round.id}|">
                <span th:text="${'Kolejka ' + round.roundNumber}" title="Wgląd do meczy"></span></a></td>
            <td><a th:href="|/admin/rounds/edit/${seasonId}/${round.id}|">Edytuj</a></td>
            <td><a th:href="|/admin/rounds/delete/${seasonId}/${round.id}|"
                   th:attr="onclick='return confirm(\'Czy napewno chcesz usunąć Kolejkę ' + ${round.roundNumber} +'?'+'\')'">
                Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/seasons}" class="btn btn-outline-info btn-sm">Powrót do listy sezonów</a>
</div>

</body>
</html>