<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout}">
<head>
</head>
<body>

<div layout:fragment="container" class="container">
    <a th:href="newseason" class="btn btn-info mt-2 mb-2">Nowy sezon</a>

    <table class="table table-bordered table-striped table-hover">
        <caption>Lista sezonów</caption>
        <thead class="thead-dark">
        <th scope="col" style="width: 5%; text-align: center">ID</th><!-- ID-->
        <th scope="col">Sezon</th><!-- Season name-->
        <th style="width: 17%"></th><!-- Assign/delete teams to season-->
        <th style="width: 15%"></th><!-- Edit season name-->
        <th style="width: 10%"></th><!-- Delete season-->
        <th style="width: 15%"></th><!-- Current season-->
        </thead>

        <tbody style="text-align: center">
        <tr th:each="season : ${seasons}">
            <!--        ID season-->
            <th scope="row" th:text="${season.id}"></th>

            <!--        Season name + current season-->
            <td style="text-align: left"><a title="Kolejki" th:href="${'/seasons/show-rounds/'+season.id}">
                <span th:text="${season.seasonName}"/>
                <span th:if="${season.id==currentSeasonId}">Obecny sezon</span></a></td>

            <!--        Assign teams to season-->
            <td><a th:href="${'/assign-teams/'+season.id}">Przypisz/usuń drużyny</a></td>

            <!--        Edit season name-->
            <td><a th:href="${'/seasons/edit/'+season.id}">Edytuj nazwę</a></td>

            <!--        Delete season-->
            <td><a th:href="${'/seasons/delete/'+season.id}" th:if="${season.id!=currentSeasonId}"
                   th:attr="onclick='return confirm(\'Czy napewno chcesz usunąć Sezon ' + ${season.seasonName} +'?'+'\')'">
                Usuń</a></td>

            <!--        Set season as current season-->
            <td><a th:href="${'/seasons/set-season/'+season.id}"
                   th:if="${season.id!=currentSeasonId}">Ustaw jako obecny</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>