<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<div th:fragment="footer" class="footer">
    <div class="links">
        <div class="links_header">Przydatne linki:</div>
        <div class="all_columns">
            <div class="single_column">
                <a target="_blank" href="http://podokreg.bochnia.pl">PPN Bochnia</a><br/>
                <a target="_blank" href="http://ksbochnia.pl">Komisja Sędziowska</a><br/>
            </div>
            <div class="single_column">
                <a target="_blank" href="http://www.90minut.pl/ligireg.php?id_sezon=93&id_okreg=5">90minut.pl</a><br/>
                <a target="_blank" href="https://www.pzpn.pl">PZPN</a>
            </div>
            <div class="single_column">
                <a target="_blank" href="http://www.mzpnkrakow.pl">MZPN</a>
            </div>
        </div>
    </div>
    <div class="author">
        <a href="https://www.linkedin.com/in/dominix77/" target="_blank">
            <i class="icon-linkedin linkedin_styles"></i> Dominik Drabina &copy; 2019</a>
    </div>
</div>

</body>
</html>