<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<div th:fragment="header" class="header">
    <div class="logo_crest">
        <picture>
            <source data-srcset="img/herb-logo2.webp" type="image/webp">
            <source data-srcset="img/herb-logo2.png" type="image/png">
            <img class="lazyload" th:attr="data-src=@{/img/herb-logo2.png}" alt="Logo strony" />
        </picture>
    </div>
    <div class="header_title"><h1>KS&nbsp;Husaria Łapczyca</h1></div>
    <!--        Menu-->
    <div class="z-index1">
        <ol id="menu">
            <li><a th:href="@{/}"><i class="icon-home-outline"></i></a></li>
            <li class="dol"><a href="#"><i
                    class="icon-football-or-soccer-board-with-results-of-games"></i>Tabela</a>
                <ul>
                    <li><a href="#">link - 1</a></li>

                    <li class="prawo"><a href="#">link - 2</a>
                        <ol>
                            <li><a href="#">dodany - 1</a></li>
                            <li><a href="#">dodany - 2</a></li>
                            <li><a href="#">dodany - 3</a></li>
                            <li><a href="#">dodany - 4</a></li>
                            <li><a href="#">dodany - 5</a></li>
                            <li><a href="#">dodany - 6</a></li>
                        </ol>
                    </li>

                    <li class="prawo"><a href="#">link - 3</a>
                        <ol>
                            <li><a href="#">dodany - 1</a></li>
                            <li><a href="#">dodany - 2</a></li>
                            <li><a href="#">dodany - 3</a></li>
                            <li><a href="#">dodany - 4</a></li>
                        </ol>
                    </li>

                    <li><a href="#">link - 4</a></li>
                    <li><a href="#">link - 5</a></li>
                </ul>
            </li>

            <li class="dol"><a href="#"><i class="icon-calendar"></i>Terminarz</a>
                <ul>
                    <li><a href="#">link - 1</a></li>

                    <li class="prawo"><a href="#">link - 2</a>
                        <ol>
                            <li><a href="#">dodany - 1</a></li>
                            <li><a href="#">dodany - 2</a></li>
                            <li><a href="#">dodany - 3</a></li>
                            <li><a href="#">dodany - 4</a></li>
                            <li><a href="#">dodany - 5</a></li>
                        </ol>
                    </li>

                    <li><a href="#">link - 3</a></li>
                </ul>
            </li>
            <li class="dol"><a href="#"><i class="icon-dollar padding_right5"></i>Sponsorzy</a>
                <ul>
                    <li><a href="#">link - 1</a></li>
                    <li><a href="#">link - 2</a></li>
                    <li><a href="#">link - 3</a></li>
                    <li><a href="#">link - 4</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="icon-mail"></i>Kontakt</a></li>
        </ol>
    </div>
</div>

</body>
</html>