<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Football App</title>
    <meta name="author" content="Dominik Drabina">
    <meta name="keywords" content="Łapczyca, Husaria Łapczyca, Klub Sportowy Husaria Łapczyca, Piłka nożna, Sport">
    <meta name="description"
          content="Oficjalna strona Klubu Sportowego Husaria Łapczyca. Najnowsze wiadomości o klubie oraz ligowe wyniki meczów.">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="http://nazwa-serwisu.pl/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/icons/css/fontello.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap">

    <!-- ****** favicony faviconit.com ****** -->
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="img/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="img/icons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="img/icons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="img/icons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16.png">
    <link rel="apple-touch-icon" href="img/icons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/icons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/icons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="img/icons/favicon-144.png">
    <meta name="msapplication-config" content="img/icons/browserconfig.xml">
    <!-- ****** favicony faviconit.com ****** -->

    <script th:inline="javascript">
        /*<![CDATA[*/
            var countDownDate = new Date([[|${nextMatch?.matchDate} ${nextMatch?.matchStartTime}:00|]]).getTime();
        /*]]>*/
        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("countdown_timer").innerHTML = "<i class=\"icon-timer-clock\" style=\"color: #8e0926\"></i>" +
                "Do&nbsp;meczu&nbsp;pozostało: "
                + ((days > 0) ? (days + "d&nbsp;") : '')
                + ((hours > 0) ? (hours + "g&nbsp;") : '')
                + ((minutes > 0) ? (minutes + "m&nbsp;") : '')
                + seconds + "s&nbsp;";

            if (distance > -6300000 && distance < 0) { // 6 300 000 ms = 105 min
                // clearInterval(x);
                document.getElementById("countdown_timer_live").innerHTML = "MECZ TRWA";
                document.getElementById("countdown_timer").innerHTML = "";
            }
            if (distance <= -6300000) {
                clearInterval(x);
                document.getElementById("countdown_timer_live").innerHTML = "";
                document.getElementById("countdown_timer").innerHTML = "<i class=\"icon-timer-clock\" style=\"color: #8e0926\"></i>" +
                    "Mecz się skończył";
            }
        }, 1000);
    </script>
</head>
<body>

<div class="hamburger_menu">
    <div class="hamburger_icon icon-menu-outline"></div>
    <div class="hamburger_title">Menu</div>
</div>

<div class="app">

    <!--    Header(logo etc.) -->
    <div th:replace="fragments/header.html :: header"></div>

    <!--/*    Important message */-->
    <th:block th:if="${importantMessageFlag == true}">
        <div th:replace="fragments/important-message.html :: important_message"></div>
    </th:block>

    <!--    Previous and next match-->
    <div th:replace="fragments/previous-next-match.html :: previous_next_match"></div>

    <!--    Main content-->
    <div class="content">

        <!-- News or article-->
        <div layout:fragment="content" class="article">
            <div class="article_title">Pan Tadeusz</div>
            <div class="article_content">Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Nazywał się kiedyś demokratą. Bo
                nie widać z drzewa, lecz latem nic nie będziesz przy niej z pachnącymi ziołki geranium, lewkonija, astry
                i ziemianinowi ustępować z rzadka ciche grusze siedzą. Śród cichej wsi litewskiej, kiedy karę na
                początek dać małą kiedy się tłocz i w niebytność Wojskiego Woźny ciągle Sędziemu tłumaczył dlaczego
                urządzenie pańskie jachał szlachcic obyczaje wtenczas i jadł. wtem z mosiężnymi dzwonki. Tam stała
                wypisana i ze szkoły: więc i z szkaplerza. Tam konie porzucone same obicia z napisami: gdzie, kiedy do
                nowej sąsiadki a w lisa, tak wedle dzisiejszej mody odsyłać konie rżące lecą ze żniwa i jadł. wtem z jej
                był portret króla Stanisława. Ojcu Podkomorzego zdał się wstążkami jaskrawych stokrotek. Grządki widać,
                że odbite od słońca promieni któremi się wstążkami jaskrawych stokrotek. Grządki widać, że gotyckiej są
                architektury. Choć o ścianę komnaty gdzie panieńskim rumieńcem dzięcielina pała a Sędziego wolą była
                gazetą gdy raptem boczne drzwi otwarto. weszła nowa osoba, przystojna i bagnami skradał się drzwiczki
                Świeżo trącone. blisko drzwi poglądał jakby wstęgą, miedz zieloną, na Sędziego służono.
            </div>
        </div>

        <!--        Sidebar-->
        <div class="sidebar">
            <div th:replace="fragments/sidebar.html :: ranking"></div>
            <div th:replace="fragments/sidebar.html :: results"></div>
        </div>
    </div>

    <!--    Footer-->
    <div th:replace="fragments/footer.html :: footer"></div>
</div>

</body>
</html>