@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #878c00;
  background-image: url("../img/football-no-lines.png");
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;

  .color_score_win {
    color: #319a31;
  }

  .color_score_lose {
    color: #ff3131;
  }

  .color_score_draw {
    color: orange;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
  }

}

@media (min-width: 641px) {

  .app {
    .content {
      flex-direction: row;
      justify-content: space-between;
      margin: 25px 0;
    }
  }

}
@media (min-width: 1600px) {
  .app {
    margin: 0 10em;
  }
}