@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #878c00;
  background-image: url("../img/football-no-lines.png");
  //font-family: "Open Sans", Impact;
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;

  .color_score_win {
    color: #319a31;
  }
  .color_score_lose {
    color: #ff3131;
  }
  .color_score_draw {
    color: orange;
  }

  .previous_next_match {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: 20px;
    justify-content: space-between;

    .previous_match {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 20px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      border-radius: $border-radius_header;

      .previous_match_title {
        background: $background_header1;
        background: $background_header2;
        background: $background_header3;
        background: $background_header4;
        filter: $filter;

        padding: $padding_header;
        font-weight: $font_weight_header;
        font-size: $font_size_header_small;
        color: #fff;
        border-top-left-radius: $border_radius_header;
        border-top-right-radius: $border_radius_header;

        &::before {
          font-family: 'Fontello';
          content: '\e828';
          margin: 0;
        }
      }

      .previous_match_content {
        font-size: 1em;
        padding: 15px;
        background: #fff;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .match_exist {
          display: flex;
          flex-direction: column;
          align-items: center;

          .match_team_score {
            font-size: $font_size_content_small;
            display: flex;
            flex-direction: row;
            align-items: center;

            .match_teamname_crest {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .match_crest {
                width: auto;
                height: 12vh;
                //padding: 0 7px;
              }
            }

            .match_score {
              font-weight: 700;
              color: orange;
              display: flex;
              padding: 0 0.4em;
            }

          }

          .match_date_time {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0.7em;
            font-size: 0.85em;

            .match_date {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0 0.5em;
            }

            .match_time {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0 0.5em;
            }
          }
        }

        .match_not_exist {
          font-style: italic;
        }
      }
    }

    .next_match {
      display: flex;
      flex-direction: column;
      width: 100%;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      border-radius: $border_radius_header;
      margin-top: 20px;

      .next_match_title {
        background: $background_header1;
        background: $background_header2;
        background: $background_header3;
        background: $background_header4;
        filter: $filter;

        padding: $padding_header;
        font-weight: $font-weight_header;
        font-size: $font_size_header_small;
        color: #fff;
        border-top-left-radius: $border_radius_header;
        border-top-right-radius: $border_radius_header;

        &::before {
          font-family: 'Fontello';
          content: '\e827';
          margin: 0;
        }

      }

      .next_match_content {
        font-size: 1em;
        padding: 15px;
        background: #fff;
        text-align: center;
        border-bottom-left-radius: $border_radius_header;
        border-bottom-right-radius: $border_radius_header;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .match_exist {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .match_not_exist {
          font-style: italic;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
  }

  .linkedin_styles {
    background: #0077B5;
  }

  /*** Table Styles **/

  .table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    font-size: 0.8em;
    //height: 320px;
    //margin: auto;
    //max-width: 600px;
    //padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }

  .table_crest_teamname {
    display: flex;
    align-items: center;
    .table_crest_img {
      padding-right: 0.4em;
      width: auto;
      height: 4.5vh;
      float: left;
    }
  }

  th {
    //color: #D5DDE5;
    color: #fff;
    background: #05345f;
    border-bottom: 1px solid #9ea7af;
    border-right: 1px solid #343a45;
    //font-size: 23px;
    //font-weight: 100;
    padding: 1em 0;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
  }

  th:first-child {
    border-top-left-radius: 3px;
    width: 10%;
  }

  th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
    width: 12%;
  }

  th:nth-last-child(2) {
    width: 12%;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    //color: #666B85;
    color: #000;
    //font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
  }

  tr:first-child {
    border-top: none;
  }

  tr:last-child {
    border-bottom: none;
  }

  tr:nth-child(odd) td {
    background: #EBEBEB;
  }

  tr:nth-child(odd):hover td {
    background: #4E5066;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
  }

  td {
    background: #FFFFFF;
    padding: 1em 0;
    text-align: left;
    vertical-align: middle;
    //font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }

  td:last-child {
    border-right: 0px;
  }

  th.text-left {
    text-align: left;
    padding-left: 0.6em;
  }

  th.text-center {
    text-align: center;
  }

  th.text-right {
    text-align: right;
  }

  td.text-left {
    text-align: left;
    padding-left: 0.6em;
  }

  td.text-center {
    text-align: center;
  }

  td.text-right {
    text-align: right;
  }

}

@media (min-width: 641px) {

  .app {

    .previous_next_match {
      flex-direction: row;

      .previous_match {
        width: 50%;
      }

      .next_match {
        width: 50%;
        margin-top: 0;
      }
    }

    .content {
      flex-direction: row;
      justify-content: space-between;
      margin: 25px 0;
    }
  }

}

@media (min-width: 321px) {

  .app {

    .previous_next_match {

      .previous_match {
        .previous_match_title {
          font-size: $font-size_header;
        }

        .previous_match_content {
          .match_exist {
            .match_team_score {
              font-size: 1.2em;

              .match_crest {
                width: 50px;
              }
            }

            .match_date_time {
              font-size: 1.2em;
              margin-top: 1em;
            }
          }
        }
      }

      .next_match {
        .next_match_title {
          font-size: $font-size_header;
        }
      }


    }
  }
}
@media (min-width: 1600px) {
  .app {
    margin: 0 10em;

    .previous_next_match {
      .previous_match {
        .previous_match_content {
          .match_exist {
            .match_team_score {
              .match_teamname_crest {
                .match_crest {
                  height: 8vh;
                }
              }
            }
          }
        }
      }
    }

  }
}