//@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #878c00;
  background-image: url("../img/football-no-lines.png");
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 100vh;
  font-size: 16px;
}

hr {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 $margin_basic;

  .color_score_win {
    color: #319a31;
  }

  .color_score_lose {
    color: #ff3131;
  }

  .color_score_draw {
    color: orange;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $margin_basic 0;
  }

}

.win_square {
  &:before {
    padding: $square_padding;
    border-radius: $square_border_radius;
    color: $square_color;
    font-weight: $square_font_weight;
    background: green;
    content: 'W';
    width: $square_width;
    height: $square_height;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $square_border_opacity;
    margin: $square_margin;
    font-size: $font_size_content_small;
  }

  &:hover, &:active {
    &:before {
      border: $square_border_hover;
    }
  }
}

.lose_square {
  &:before {
    padding: $square_padding;
    border-radius: $square_border_radius;
    color: $square_color;
    font-weight: $square_font_weight;
    background: red;
    content: 'L';
    width: $square_width;
    height: $square_height;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $square_border_opacity;
    margin: $square_margin;
    font-size: $font_size_content_small;
  }

  &:hover, &:active {
    &:before {
      border: $square_border_hover;
    }
  }
}

.draw_square {
  &:before {
    padding: $square_padding;
    border-radius: $square_border_radius;
    color: $square_color;
    font-weight: $square_font_weight;
    background: orange;
    content: 'R';
    width: $square_width;
    height: $square_height;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $square_border_opacity;
    margin: $square_margin;
    font-size: $font_size_content_small;
  }

  &:hover, &:active {
    &:before {
      border: $square_border_hover;
    }
  }
}

.blink {
  animation-duration: 1.3s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  color: #ff3131;
  font-weight: 700;
}

[tooltip]:before {
  /* needed - do not touch */
  content: attr(tooltip);
  position: absolute;
  opacity: 0;

  /* customizable */
  transition: all .2s ease;
  padding: 10px;
  color: #000;
  box-shadow: 0px 0px 5px #666666;
  border-radius: $border_radius_header;
  font-size: 125%;
  //box-shadow: 2px 2px 1px silver;
  left: 0%;
  @media (min-width: 350px) {
    left: 10%;
  }
  @media (min-width: 450px) {
    font-size: 115%;
  }
  @media (min-width: 550px) {
    left: 25%;
  }
  @media (min-width: 641px) {
    left: 60%;
  }
}

[tooltip]:hover:before, [tooltip]:active:before {
  /* needed - do not touch */
  opacity: 1;

  /* customizable */
  background: #fff;
  margin-top: -50px;
  margin-left: 20px;
}

[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 641px) {
  .app {
    .content {
      flex-direction: row;
      justify-content: space-between;
      margin: calc(#{$margin_basic} + #{$margin_basic} / 4) 0;
    }
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 22px;

    .app {
      margin: 0 10em;
    }
  }

}

@media (min-width: 2500px) {
  body {
    font-size: 38px;
  }
  .app {
    .content {
      margin: calc(#{$margin_big} + #{$margin_big} / 4) 0;
    }
  }
}
