
.footer {
  background: rgba(21, 21, 21, 0.65);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  margin-bottom: 20px;

  //border-radius: 8px;
  display: flex;
  flex-direction: row;

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: #ccb715;
  }

  a:active {
    color: #ccb715;
  }

  .links {
    font-size: 1em;
    //margin: 0.5em 1.8em 0.5em 1.8em;
    padding: 0.5em 1.8em 0.5em 1.8em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .links_header {
      margin: 1em 0em 1em 0;
      border-bottom: #fff 1px solid
    }

    .all_columns {
      margin: 0.7em 1.2em 1em 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .single_column {
        text-align: center;
        padding: 0.5em;
      }
    }
  }

  .linkedin_styles {
    background: #0077B5;
  }

  .author {
    border-left: #fff 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1.7em;
    vertical-align: middle;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .footer {
    flex-direction: column;
    padding: 0.5em 1.8em 0em 1.8em;

    .author {
      width: 100%;
      border-left: none;
      border-top: #fff 1px solid;
      margin-top: 1em;
      padding: 0.8em 0;
      font-size: 1.3em;
    }

    .links {
      width: 100%;
      padding: unset;
    }
  }

  @media (max-width: 320px) {
    .footer {
      .links {
        .all_columns {
          flex-direction: column;
          margin: 0;
        }
      }
    }
  }

}