
.hamburger_menu {
  background: #11af11c7;
  border-radius: 5px;
  padding: 0.2em 0.3em;
  text-align: center;
  font-size: 1.7em;
  right: 0;
  position: fixed;
  margin: 10px 20px;

  .hamburger_title {
    font-size: 0.5em;
  }
}

@media (min-width: 641px) {
  .hamburger_menu {
    display: none;
  }
}

@media (max-width: 320px) {
  .hamburger_menu {
    padding: 0.1em 0.2em;
    margin: 0;
  }
}
