@charset "UTF-8";
/* usuni─Öcie domy┼Ťlnych w┼éa┼Ťciwo┼Ťci CSS z element├│w - ol - oraz - ul */
#menu, #menu ul, #menu ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* wygl─ůd g┼é├│wnego elementu - ol */
#menu {
  background-color: #FFF;
  font-size: 18px;
  height: 2em;
  line-height: 2em;
  text-align: center; }

/* wygl─ůd wszystkich element├│w - a - znajduj─ůcych si─Ö w elemencie - ol */
#menu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0 5px; }

/* wygl─ůd element├│w - li - wszystkich dzieci elementu - ol */
#menu > li {
  float: left;
  width: 150px;
  margin-left: 1px;
  background-color: #FDD700;
  height: 2em; }

/* wygl─ůd elementu - li - pierwszego dziecka elementu - ol */
#menu > li:first-child {
  margin-left: 0; }

/* wygl─ůd element├│w - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover {
  background-color: #EEE; }

/* wygl─ůd elementu - a - dziecka elementu - li - b─Öd─ůcego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover > a {
  color: #09C; }

/* wygl─ůd elementu - ul - dziecka elementu - li - b─Öd─ůcego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover > ul {
  display: block; }

/* ------------------------CZ─ś┼Ü─ć-ROZWIJANA-MENU-POZIOM-1----------------------- */
/* wygl─ůd g┼é├│wnych rozwijanych element├│w - ul */
#menu > li > ul {
  display: none; }

/* wygl─ůd elementu - li - w cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li {
  position: relative;
  background-color: #EEE; }

/* wygl─ůd elementu - a - w cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > a {
  border-top: 1px solid #FFF; }

/* wygl─ůd elementu - li - w cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki na dany element - li */
#menu > li > ul > li:hover {
  background-color: #DDD; }

/* wygl─ůd elementu - a - w cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki na element - li */
#menu > li > ul > li:hover > a {
  color: #09C; }

/* ------------------------CZ─ś┼Ü─ć-ROZWIJANA-MENU-POZIOM-2----------------------- */
/* wygl─ůd g┼é├│wnego elementu - ol - w drugiej cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > ol {
  display: none;
  width: 150%;
  position: absolute;
  left: 100%;
  margin-top: -2em; }

/* wygl─ůd g┼é├│wnego elementu - ol - w drugiej cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
#menu > li > ul > li:hover > ol {
  display: block; }

/* wygl─ůd element├│w - li - w drugiej cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > ol > li {
  background-color: #CCC; }

/* wygl─ůd element├│w - a - w drugiej cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > ol > li > a {
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF; }

/* wygl─ůd elementu - a - w drugiej cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki */
#menu > li > ul > li > ol > li > a:hover {
  color: #09C; }

/* ------------------------WSP├ôLNE----------------------- */
/* zaokr─ůglone rogi wszystkich element├│w - li - oraz - a */
#menu li, ol a {
  border-radius: 6px; }

/* strza┼éka w prawo */
#menu .dol {
  background-image: url("http://webkod.pl/images/down.png");
  background-repeat: no-repeat;
  background-position: 98% center; }

/* strza┼éka w d├│┼é */
#menu .prawo {
  background-image: url("http://webkod.pl/images/right.png");
  background-repeat: no-repeat;
  background-position: 98% center; }

/*# sourceMappingURL=menu.css.map */
