
.all_news {
  display: flex;
  //flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .single_news {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    background: #fff;
    margin: 0 0px 20px 0;

    &:first-child {
      //margin: 0 0 10px 0;
    }

    .news_title {
      font-size: 1em;
      font-weight: 700;
      padding: 0.55em;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a75a1+0,49749f+44,3d6691+100 */
      background: rgb(74, 117, 161); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(74, 117, 161, 1) 0%, rgba(73, 116, 159, 1) 44%, rgba(61, 102, 145, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(74, 117, 161, 1) 0%, rgba(73, 116, 159, 1) 44%, rgba(61, 102, 145, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(74, 117, 161, 1) 0%, rgba(73, 116, 159, 1) 44%, rgba(61, 102, 145, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a75a1', endColorstr='#3d6691', GradientType=0); /* IE6-9 */

      &::before {
        font-family: 'Fontello';
        content: '\e826';
      }

    }

    .news_image {
      width: 100%;
      //max-height: 300px;
      opacity: 1;
      &:hover {
        opacity: 0.7;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
    }

    .news_content {
      background: #fff;
      font-size: 0.9em;
      line-height: 1.6em;
      color: black;
      padding: 1.5em 1.5em;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
@media (max-width: 449px) {
  .news_image {
    max-height: 300px;
  }
}
@media (min-width: 450px) {
  .news_image {
    max-height: 370px;
  }
  .single_news {
    width: 48%;
    margin: 0 20px 20px 0;
  }
}

@media (min-width: 641px) {
  .single_news {
    width: unset;

    .news_title {
      font-size: 1.2em;
    }

    .news_content {
      font-size: 1.1em;
    }
  }
}

@media (min-width: 768px) {
  //.news_image {
  //  max-height: 370px;
  //}
  .single_news {
    width: 48%;
    margin: 0 20px 20px 0;
  }
}
@media (min-width: 900px) {
  .news_image {
    max-height: 370px;
  }
  .single_news {
    width: 48.5%;
    margin: 0 20px 20px 0;
  }
}

@media (min-width: 1000px) {
  .single_news {
    width: 48.5%;
    margin: 0 20px 20px 0;
  }
}
@media (min-width: 1200px) {
  .single_news {
    width: 49%;
    margin: 0 20px 20px 0;
  }
}