
.news_and_pagination {
  display: flex;
  flex-direction: column;

  .all_news {
    display: flex;
    //flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .single_news {
      overflow-x: auto;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      border-radius: $border_radius_header;
      background: #fff;
      margin: 0 0 20px 0;

      //&:hover {
      //  transform: scale(1.005);
      //}

      .news_image {
        position: relative;
        width: 100%;
        border-top-left-radius: $border_radius_header;
        border-top-right-radius: $border_radius_header;
        //max-height: 300px;
        opacity: 1;

        &:hover {
          opacity: 0.7;
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }

        .news_title {
          color: #fff;
          position: absolute;
          bottom: 30%;
          font-size: $font_size_header;
          font-weight: 700;
          text-shadow: 5px 5px 10px #000;
          padding: 0 1em;
        }
      }

      .news_content {
        background: #fff;
        font-size: 0.9em;
        line-height: 1.6em;
        color: black;
        padding: 1.5em 1.5em;
        border-bottom-left-radius: $border-radius_header;
        border-bottom-right-radius: $border_radius_header;

        .news_text {
          font-size: 1.2em;
        }
      }
    }
  }

  .news_pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #000;
    background: #fff;
    padding: 1em 0;
    text-align: center;
    border-radius: $border_radius_header;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);

    .numbering_element {
      margin: 0.4em 0;

      .news_pagination_block {
        border: 1px solid green;
        border-radius: 4px;
        padding: 0.1em 0.5em;
        margin: 0 0.15em;
        color: black;

        &:hover {
          color: #fff;
          background: green;
        }
      }

      .news_pagination_block_active {
        color: #fff;
        background: green;
      }
    }
  }
}

.date_author {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  justify-content: space-between;
  color: gray;
  margin-bottom: 1em;
}

.full_news_main_image {
  max-width: 100%;
  height: auto;
  margin-right: 1.5em;
  margin-bottom: 1em;
  float: left;

  //This shadow is different than any other
  -webkit-box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.75);
}

.display_br {

}

@media (max-width: 449px) {
  .news_image {
    max-height: 300px;
  }
}

@media (min-width: 450px) {
  .display_br {
    display: none;
  }
  .news_and_pagination {
    .all_news {
      .single_news {
        width: calc(50% - 10px);
        //margin: 0 20px 20px 0;

        .news_image {
          max-height: 370px;

          .news_title {
            font-size: $font_size_header_small;
          }
        }
      }
    }
  }
}

@media (min-width: 641px) {
  .news_and_pagination {
    .all_news {
      .single_news {
        width: unset;

        .news_image {
          //max-height: 370px;

          .news_title {
            font-size: $font_size_header;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .news_and_pagination {

    .all_news {

      .single_news {
        width: calc(50% - 10px);

        .news_image {
          max-height: 370px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .news_image {
    max-height: 370px;
  }
}

@media (min-width: 1000px) {
  .full_news_main_image {
    max-width: 35%;
  }
}

@media (min-width: 1600px) {
  .news_and_pagination {

    .all_news {

      .single_news {
        //width: calc(33.33% - 10px);

        .news_image {
          max-height: 40em;
        }
      }
    }
  }
}