
.previous_next_match {
  display: flex;
  flex-direction: column;
  color: #000;
  justify-content: space-between;

  .match {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $margin_basic;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: $border-radius_header;

    .match_title {
      background: $background_header1;
      background: $background_header2;
      background: $background_header3;
      background: $background_header4;
      filter: $filter;

      padding: $padding_header;
      font-weight: $font_weight_header;
      font-size: $font_size_header_small;
      color: #fff;
      border-top-left-radius: $border_radius_header;
      border-top-right-radius: $border_radius_header;
    }

    .match_content {
      font-size: 1em;
      padding: 1em;
      background: #fff;
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;

      .match_exist {
        display: flex;
        flex-direction: column;
        align-items: center;

        .match_team_score {
          font-size: $font_size_content_small;
          display: flex;
          flex-direction: row;
          align-items: center;

          .match_teamname_crest {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .match_crest {
              width: auto;
              height: 12vh;
              margin-bottom: 0.5em;
              //padding: 0 7px;
            }
          }

          .match_score {
            font-weight: 700;
            color: orange;
            display: flex;
            padding: 0 0.4em;
          }

        }

        .match_date_time {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 0.7em;
          font-size: 0.85em;

          .match_date {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 0.5em;
          }

          .match_time {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 0.5em;
          }
        }

        .countdown_match {
          font-size: 0.85em;
          font-style: italic;
          margin-top: 0.4em;
        }

        .round_season_info {
          margin-bottom: 0.7em;
          font-size: 0.75em;
        }
      }

      .match_not_exist {
        font-style: italic;
        font-size: 0.85em;
      }
    }
  }

  .versus {
    border-radius: $border-radius_header;
    color: #fff;
    padding: 0.3em 0.4em;
    font-size: 0.9em;
    margin: 0 0.55em;
    font-weight: 700;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

@media (min-width: 450px) {

  .previous_next_match {

    .match {
      .match_title {
        font-size: $font-size_header;
      }

      .match_content {
        .match_exist {
          .match_team_score {
            font-size: 1.2em;

            .match_crest {
              width: 50px;
            }
          }

          .match_date_time {
            font-size: 1.2em;
            margin-top: 1em;
          }

          .countdown_match {
            font-size: 1.2em;
          }

          .round_season_info {
            font-size: 0.95em;
          }
        }

        .match_not_exist {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media (min-width: 641px) {

  .previous_next_match {
    flex-direction: row;
    margin-top: $margin_basic;

    .match {
      width: calc(50% - (#{$margin_basic} / 2));
      margin-top: 0;
    }
  }

}

@media (min-width: 1600px) {

  .previous_next_match {
    .match {
      .match_content {
        .match_exist {
          .match_team_score {
            .match_teamname_crest {
              .match_crest {
                height: 8vh;
              }
            }
          }
        }
      }
    }
  }

}
@media (min-width: 2500px) {
  .previous_next_match {
    margin-top: $margin_big;

    .match {
      width: calc(50% - (#{$margin_big} / 2));
    }
  }

}