/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a75a1+0,49749f+44,3d6691+100 */
/* Old browsers */
/* FF3.6-15 */
/* Chrome10-25,Safari5.1-6 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* IE6-9 fallback on horizontal gradient */
.results_header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #0f74a8;
  margin-bottom: 1em;
  color: #fff;
  font-weight: 700;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  border-radius: 8px; }
  .results_header .results_season {
    flex: 1;
    padding: 0 1em; }
  .results_header .select_round {
    font-size: 0.9em;
    padding: 0 0.3em;
    color: #495057;
    border-radius: .25rem;
    border: 1px solid #ced4da; }

.score_results {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-self: center;
  padding: 0 0.7em;
  color: orange;
  background: #f5f5f5;
  border-radius: .25rem;
  margin: 0 0.8em; }

.no_team {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center; }

.results_date_time {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 0.7em 0.5em;
  font-size: 0.8em; }

.team_score_team {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%; }

.team_crest {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; }

.results_matches_exist {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  font-size: 0.7em; }
  .results_matches_exist img {
    width: auto;
    height: 4.5vh; }

.results_single_match {
  width: 100%;
  background: #4a75a1c9;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse;
  padding: 0.7em 0.7em 0em 0.7em;
  justify-content: center;
  align-items: center;
  color: #e6e6e6; }
  .results_single_match:nth-child(odd) {
    background: #4a75a1de; }

.results_team_name {
  text-align: center; }

.paused_teams_text {
  text-align: center; }

.results_paused_teams {
  width: 100%;
  background: #4a75a1de;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
  border-top: 1px #fff solid; }

.paused_teams_content {
  padding: 0 2em; }

.single_paused_team {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0.4em; }
  .single_paused_team span {
    padding-left: 0.3em; }

.clock {
  margin-left: 0.5em;
  white-space: nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }

.calendar {
  margin-right: 0.5em;
  white-space: nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }

.no_data {
  font-style: italic;
  text-align: center; }

.color_score_lose_results {
  color: #ff5858; }

@media (max-width: 750px) {
  .team_crest {
    flex-wrap: wrap-reverse; }

  div.team_crest:nth-child(1) {
    flex-wrap: wrap; } }
@media (min-width: 450px) {
  .results_matches_exist {
    font-size: 1.2em; } }
@media (min-width: 1300px) {
  .results_single_match {
    flex-direction: row;
    justify-content: unset;
    padding: 0.7em; }

  .team_score_team {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

  .results_date_time {
    font-size: unset;
    padding: 0.3em 0.5em; } }

/*# sourceMappingURL=results.css.map */
