
.sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 40%;
  overflow: auto;
  margin-left: $margin_basic;

  a {
    color: orange;
    font-weight: 700;
    margin: 0 -10px;

    &::after {
      content: '';
      speak: none;
      animation: arrows-after 2.2s infinite ease-in-out;
    }

    &::before {
      content: '';
      speak: none;
      animation: arrows-before 2.2s infinite ease-in-out;
    }
  }

  .ranking {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: $border_radius_header;

    .ranking_head {
      background: $background_header1;
      background: $background_header2;
      background: $background_header3;
      background: $background_header4;
      filter: $filter;

      padding: $padding_header;
      font-size: $font_size_header_small;
      font-weight: $font_weight_header;
      border-top-left-radius: $border_radius_header;
      border-top-right-radius: $border_radius_header;
    }

    .ranking_content {
      background: #fff;
      font-size: $font_size_content_small;
      color: black;
      padding: 1em;
      text-align: center;
      border-bottom-left-radius: $border_radius_header;
      border-bottom-right-radius: $border_radius_header;
    }
  }

  .results {
    margin-top: $margin_basic;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: $border_radius_header;

    span {
      word-break: break-word;
    }

    .results_head {
      background: $background_header1;
      background: $background_header2;
      background: $background_header3;
      background: $background_header4;
      filter: $filter;

      padding: $padding_header;
      font-size: $font_size_header_small;
      font-weight: $font_weight_header;
      border-top-left-radius: $border_radius_header;
      border-top-right-radius: $border_radius_header;
    }

    .results_content {
      background: #fff;
      font-size: $font_size_content_small;
      color: black;
      padding: 1em;
      text-align: center;
      border-bottom-left-radius: $border_radius_header;
      border-bottom-right-radius: $border_radius_header;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .single_match {
        display: flex;
        margin: 0.3em 0;
        width: 100%;

        .team_name {
          display: flex;
          align-items: center;
          //justify-content: space-evenly;
          justify-content: center;
          flex-wrap: wrap;
          flex: 1;
          //width: 42%;

          .results_crest {
            width: auto;
            height: 4.5vh;
            margin: 0 4px;
          }
        }

        .score {
          display: flex;
          align-items: center;
          justify-content: center;
          color: orange;
          //width: 16%;
          //padding: 0 1em;
          padding: 0 0.5em;
          font-weight: 700;
        }

      }
    }
  }
}

.hr_top {
  border-top: 1px dotted green;
}

.hr_bottom {
  border-top: 1px dotted green;
  //margin-top: -0.05em;
}

.paused_teams {
  width: 100%;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.45em;
  }
  img {
    width: auto;
    height: 4.5vh;
  }
}

@keyframes arrows-before {
  0% {
    content: '>';
    speak: none;
  }
  50% {
    content: '>>';
    speak: none;
  }
  100% {
    content: '';
    speak: none;
  }
}

@keyframes arrows-after {
  0% {
    content: '<';
    speak: none;
  }
  50% {
    content: '<<';
    speak: none;
  }
  100% {
    content: '';
    speak: none;
  }
}

@media (min-width: 450px) {

  .sidebar {
    .ranking {
      .ranking_head {
        font-size: $font_size_header;
      }

      .ranking_content {
        font-size: 1.1em;
      }
    }

    .results {
      .results_head {
        font-size: $font_size_header;
      }

      .results_content {
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 640px) {

  .sidebar {
    min-width: 35%;
    margin-left: 0;
    margin-top: $margin_basic;
    margin-bottom: calc(#{$margin_basic} / 2);

    .results {
      .results_content {
        //font-size: 0.7em;
      }
    }
  }
}
@media (min-width: 900px) {
  .sidebar {
    min-width: 30%;
  }
}
@media (min-width: 1000px) {

  .sidebar {
    //margin: 0 0 15px 15px;
    min-width: 25%;
  }
}

@media (min-width: 1600px) {
  .sidebar {
    .results {
      .results_content {
        font-size: $font_size_content_small;

        .single_match {
          .results_crest {
            margin: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 2500px) {
  .sidebar {
    margin-left: $margin_big;

    .results {
      margin-top: $margin_big;
    }
  }
}