@charset "UTF-8";
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a75a1+0,49749f+44,3d6691+100 */
/* Old browsers */
/* FF3.6-15 */
/* Chrome10-25,Safari5.1-6 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* IE6-9 fallback on horizontal gradient */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

button {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #878c00;
  background-image: url("../img/football-no-lines.png");
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 100vh; }

.app {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  /*** Table Styles **/ }
  .app .color_score_win {
    color: #319a31; }
  .app .color_score_lose {
    color: #ff3131; }
  .app .color_score_draw {
    color: orange; }
  .app .previous_next_match {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: 20px;
    justify-content: space-between; }
    .app .previous_next_match .previous_match {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 20px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      border-radius: 8px; }
      .app .previous_next_match .previous_match .previous_match_title {
        background: #008a00;
        background: -moz-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
        background: -webkit-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
        background: linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
        filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#1f891f',GradientType=1 )";
        padding: 0.55em;
        font-weight: 700;
        font-size: 1em;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
        .app .previous_next_match .previous_match .previous_match_title::before {
          font-family: 'Fontello';
          content: '\e828';
          margin: 0; }
      .app .previous_next_match .previous_match .previous_match_content {
        font-size: 1em;
        padding: 15px;
        background: #fff;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center; }
        .app .previous_next_match .previous_match .previous_match_content .match_exist {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .app .previous_next_match .previous_match .previous_match_content .match_exist .match_team_score {
            font-size: 0.85em;
            display: flex;
            flex-direction: row;
            align-items: center; }
            .app .previous_next_match .previous_match .previous_match_content .match_exist .match_team_score .match_teamname_crest {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center; }
              .app .previous_next_match .previous_match .previous_match_content .match_exist .match_team_score .match_teamname_crest .match_crest {
                width: auto;
                height: 12vh; }
            .app .previous_next_match .previous_match .previous_match_content .match_exist .match_team_score .match_score {
              font-weight: 700;
              color: orange;
              display: flex;
              padding: 0 0.4em; }
          .app .previous_next_match .previous_match .previous_match_content .match_exist .match_date_time {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0.7em;
            font-size: 0.85em; }
            .app .previous_next_match .previous_match .previous_match_content .match_exist .match_date_time .match_date {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0 0.5em; }
            .app .previous_next_match .previous_match .previous_match_content .match_exist .match_date_time .match_time {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0 0.5em; }
        .app .previous_next_match .previous_match .previous_match_content .match_not_exist {
          font-style: italic; }
    .app .previous_next_match .next_match {
      display: flex;
      flex-direction: column;
      width: 100%;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      border-radius: 8px;
      margin-top: 20px; }
      .app .previous_next_match .next_match .next_match_title {
        background: #008a00;
        background: -moz-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
        background: -webkit-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
        background: linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
        filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#1f891f',GradientType=1 )";
        padding: 0.55em;
        font-weight: 700;
        font-size: 1em;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
        .app .previous_next_match .next_match .next_match_title::before {
          font-family: 'Fontello';
          content: '\e827';
          margin: 0; }
      .app .previous_next_match .next_match .next_match_content {
        font-size: 1em;
        padding: 15px;
        background: #fff;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center; }
        .app .previous_next_match .next_match .next_match_content .match_exist {
          display: flex;
          flex-direction: row;
          align-items: center; }
        .app .previous_next_match .next_match .next_match_content .match_not_exist {
          font-style: italic; }
  .app .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px; }
  .app .linkedin_styles {
    background: #0077B5; }
  .app .table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    font-size: 0.8em;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite; }
  .app .table_crest_teamname {
    display: flex;
    align-items: center; }
    .app .table_crest_teamname .table_crest_img {
      padding-right: 0.4em;
      width: auto;
      height: 4.5vh;
      float: left; }
  .app th {
    color: #fff;
    background: #05345f;
    border-bottom: 1px solid #9ea7af;
    border-right: 1px solid #343a45;
    padding: 1em 0;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle; }
  .app th:first-child {
    border-top-left-radius: 3px;
    width: 10%; }
  .app th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
    width: 12%; }
  .app th:nth-last-child(2) {
    width: 12%; }
  .app tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #000;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }
  .app tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e; }
  .app tr:first-child {
    border-top: none; }
  .app tr:last-child {
    border-bottom: none; }
  .app tr:nth-child(odd) td {
    background: #EBEBEB; }
  .app tr:nth-child(odd):hover td {
    background: #4E5066; }
  .app tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  .app tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }
  .app td {
    background: #FFFFFF;
    padding: 1em 0;
    text-align: left;
    vertical-align: middle;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1; }
  .app td:last-child {
    border-right: 0px; }
  .app th.text-left {
    text-align: left;
    padding-left: 0.6em; }
  .app th.text-center {
    text-align: center; }
  .app th.text-right {
    text-align: right; }
  .app td.text-left {
    text-align: left;
    padding-left: 0.6em; }
  .app td.text-center {
    text-align: center; }
  .app td.text-right {
    text-align: right; }

@media (min-width: 641px) {
  .app .previous_next_match {
    flex-direction: row; }
    .app .previous_next_match .previous_match {
      width: 50%; }
    .app .previous_next_match .next_match {
      width: 50%;
      margin-top: 0; }
  .app .content {
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0; } }
@media (min-width: 321px) {
  .app .previous_next_match .previous_match .previous_match_title {
    font-size: 1.2em; }
  .app .previous_next_match .previous_match .previous_match_content .match_exist .match_team_score {
    font-size: 1.2em; }
    .app .previous_next_match .previous_match .previous_match_content .match_exist .match_team_score .match_crest {
      width: 50px; }
  .app .previous_next_match .previous_match .previous_match_content .match_exist .match_date_time {
    font-size: 1.2em;
    margin-top: 1em; }
  .app .previous_next_match .next_match .next_match_title {
    font-size: 1.2em; } }
@media (min-width: 1600px) {
  .app {
    margin: 0 10em; } }
/* usuni─Öcie domy┼Ťlnych w┼éa┼Ťciwo┼Ťci CSS z element├│w - ol - oraz - ul */
#menu, #menu ul, #menu ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* wygl─ůd g┼é├│wnego elementu - ol */
#menu {
  font-size: 1.3em;
  height: 2em;
  line-height: 2em;
  text-align: center; }

/* wygl─ůd wszystkich element├│w - a - znajduj─ůcych si─Ö w elemencie - ol */
#menu a {
  display: block;
  text-decoration: none;
  color: #d5e0bd;
  font-weight: 700;
  padding: 0 7px; }

/* wygl─ůd element├│w - li - wszystkich dzieci elementu - ol */
#menu > li {
  float: left;
  width: auto;
  margin-left: 1px;
  height: 2em;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#11af11+34,008a00+67,005700+83,002400+100 */
  background: #11af11;
  /* Old browsers */
  background: -moz-linear-gradient(top, #11af11 34%, #008a00 67%, #005700 83%, #002400 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #11af11 34%, #008a00 67%, #005700 83%, #002400 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #11af11 34%, #008a00 67%, #005700 83%, #002400 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11af11', endColorstr='#002400', GradientType=0);
  /* IE6-9 */ }

/* wygl─ůd elementu - li - pierwszego dziecka elementu - ol */
#menu > li:first-child > a {
  text-align: center;
  padding: 0 16px 0 15px; }

/* wygl─ůd element├│w - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover {
  background-color: darkgray; }

/* wygl─ůd elementu - a - dziecka elementu - li - b─Öd─ůcego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover > a {
  color: #ccb715;
  background: #009e00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009e00 34%, #007900 67%, #004600 83%, #001300 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #009e00 34%, #007900 67%, #004600 83%, #001300 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #009e00 34%, #007900 67%, #004600 83%, #001300 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009e00', endColorstr='#001300', GradientType=0);
  /* IE6-9 */ }

/* wygl─ůd elementu - ul - dziecka elementu - li - b─Öd─ůcego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
#menu > li:hover > ul {
  display: block; }

/* ------------------------CZ─ś┼Ü─ć-ROZWIJANA-MENU-POZIOM-1----------------------- */
/* wygl─ůd g┼é├│wnych rozwijanych element├│w - ul */
#menu > li > ul {
  display: none; }

/* wygl─ůd elementu - li - w cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li {
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a81f3d+30,8e0926+63,6d0019+100 */
  background: #a81f3d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a81f3d 30%, #8e0926 63%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a81f3d 30%, #8e0926 63%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a81f3d 30%, #8e0926 63%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a81f3d', endColorstr='#6d0019', GradientType=0);
  /* IE6-9 */ }

/* wygl─ůd elementu - a - w cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > a {
  border-top: 1px solid #FFF; }

/* wygl─ůd elementu - li - w cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki na dany element - li */
#menu > li > ul > li:hover {
  background-color: #DDD; }

/* wygl─ůd elementu - a - w cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki na element - li */
#menu > li > ul > li:hover > a {
  color: #ccb715;
  background: #970e2c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #970e2c 30%, #7d0815 63%, #5c0008 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #970e2c 30%, #7d0815 63%, #5c0008 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #970e2c 30%, #7d0815 63%, #5c0008 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#970e2c', endColorstr='#5c0008', GradientType=0);
  /* IE6-9 */ }

/* ------------------------CZ─ś┼Ü─ć-ROZWIJANA-MENU-POZIOM-2----------------------- */
/* wygl─ůd g┼é├│wnego elementu - ol - w drugiej cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > ol {
  display: none;
  width: 150%;
  position: absolute;
  left: 100%;
  margin-top: -2em; }

/* wygl─ůd g┼é├│wnego elementu - ol - w drugiej cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
#menu > li > ul > li:hover > ol {
  display: block; }

/* wygl─ůd element├│w - li - w drugiej cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > ol > li {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a81f3d+30,8e0926+63,6d0019+100 */
  background: #a81f3d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a81f3d 30%, #8e0926 63%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a81f3d 30%, #8e0926 63%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a81f3d 30%, #8e0926 63%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a81f3d', endColorstr='#6d0019', GradientType=0);
  /* IE6-9 */ }

/* wygl─ůd element├│w - a - w drugiej cz─Ö┼Ťci rozwijanej */
#menu > li > ul > li > ol > li > a {
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF; }

/* wygl─ůd elementu - a - w drugiej cz─Ö┼Ťci rozwijanej, po najechaniu kursorem myszki */
#menu > li > ul > li > ol > li > a:hover {
  color: #ccb715;
  background: #970e2c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #970e2c 30%, #7d0815 63%, #5c0008 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #970e2c 30%, #7d0815 63%, #5c0008 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #970e2c 30%, #7d0815 63%, #5c0008 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#970e2c', endColorstr='#5c0008', GradientType=0);
  /* IE6-9 */ }

/* ------------------------WSP├ôLNE----------------------- */
/* zaokr─ůglone rogi wszystkich element├│w - li - oraz - a */
#menu li, ol a {
  border-radius: 6px;
  margin: 0 1px; }

/* strza┼éka w prawo */
#menu .dol a::after {
  padding: 0px 5px;
  color: #d5e0bd;
  font-family: 'Fontello';
  text-decoration: none;
  speak: none;
  content: "\e801"; }
#menu .dol ul li a::after {
  content: ''; }
#menu .dol ul .prawo a::after {
  padding: 0px 5px;
  color: #d5e0bd;
  font-family: 'Fontello';
  text-decoration: none;
  speak: none;
  content: "\e802"; }
#menu .dol ul .prawo ol li a::after {
  content: ''; }

/* strza┼éka w d├│┼é */
@media (max-width: 640px) {
  #menu {
    display: none;
    font-size: 0.8em; } }
@media (max-width: 320px) {
  #menu {
    display: none;
    font-size: 0.6em; } }
.footer {
  background: rgba(21, 21, 21, 0.65);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: row; }
  .footer a:link {
    color: white; }
  .footer a:visited {
    color: white; }
  .footer a:hover {
    color: #ccb715; }
  .footer a:active {
    color: #ccb715; }
  .footer .links {
    font-size: 1em;
    padding: 0.5em 1.8em 0.5em 1.8em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer .links .links_header {
      margin: 1em 0em 1em 0;
      border-bottom: #fff 1px solid; }
    .footer .links .all_columns {
      margin: 0.7em 1.2em 1em 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer .links .all_columns .single_column {
        text-align: center;
        padding: 0.5em; }
  .footer .author {
    border-left: #fff 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1.7em;
    vertical-align: middle;
    text-align: center; }

@media (max-width: 640px) {
  .footer {
    flex-direction: column;
    padding: 0.5em 1.8em 0em 1.8em; }
    .footer .author {
      width: 100%;
      border-left: none;
      border-top: #fff 1px solid;
      margin-top: 1em;
      padding: 0.8em 0;
      font-size: 1.3em; }
    .footer .links {
      width: 100%;
      padding: unset; } }
@media (max-width: 640px) and (max-width: 320px) {
  .footer .links .all_columns {
    flex-direction: column;
    margin: 0; } }
.sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 20px; }
  .sidebar .ranking {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: 8px; }
    .sidebar .ranking .ranking_head {
      background: #008a00;
      background: -moz-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
      background: -webkit-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
      background: linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
      filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#1f891f',GradientType=1 )";
      padding: 0.55em;
      font-size: 1em;
      font-weight: 700;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    .sidebar .ranking .ranking_content {
      background: #fff;
      font-size: 0.85em;
      color: black;
      padding: 15px;
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }
  .sidebar .results {
    margin-top: 20px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: 8px; }
    .sidebar .results .results_head {
      background: #008a00;
      background: -moz-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
      background: -webkit-linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
      background: linear-gradient(45deg, #008a00 0%, #30a31b 20%, #3aa82b 65%, #1f891f 100%);
      filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#1f891f',GradientType=1 )";
      padding: 0.55em;
      font-size: 1em;
      font-weight: 700;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    .sidebar .results .results_content {
      background: #fff;
      font-size: 0.85em;
      color: black;
      padding: 15px;
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .sidebar .results .results_content .single_match {
        display: flex;
        margin: 0.7em 0;
        width: 100%; }
        .sidebar .results .results_content .single_match .team_name {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 42%; }
          .sidebar .results .results_content .single_match .team_name .results_crest {
            width: auto;
            height: 4.5vh; }
        .sidebar .results .results_content .single_match .score {
          display: flex;
          align-items: center;
          justify-content: center;
          color: orange;
          width: 16%;
          padding: 0 1em;
          font-weight: 700; }

@media (min-width: 321px) {
  .sidebar .ranking .ranking_head {
    font-size: 1.2em; }
  .sidebar .ranking .ranking_content {
    font-size: 1.1em; }
  .sidebar .results .results_head {
    font-size: 1.2em; }
  .sidebar .results .results_content {
    font-size: 1em; } }
@media (max-width: 640px) {
  .sidebar {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px; } }
@media (min-width: 1000px) {
  .sidebar {
    min-width: 25%; } }
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(21, 21, 21, 0.65);
  padding: 10px 25px 15px 25px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45); }
  .header .header_title {
    display: flex;
    align-items: center;
    padding: 10px 0 20px 0;
    line-height: 100%;
    font-size: 3em;
    text-align: center;
    color: darkred;
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 1s ease-in-out 1;
    animation-delay: .4s;
    text-shadow: 0px 0px 2.5px #fff, 0px 0px 3.5px #fff; }
  .header .logo_crest {
    padding-top: 5px; }

@keyframes blur {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 12.5px #fff, 0px 0px 12.5px #fff, 0px 0px 12.5px #fff, 0px 0px 12.5px #fff, 0px 0px 12.5px #fff, 0px 0px 12.5px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #7B96B8, 0px 0px 75px #7B96B8, 0px 5px 50px #7B96B8, 0px 5px 50px #7B96B8, 0px 5px 50px #7B96B8, 0px 5px 50px #7B96B8, 0px -5px 50px #7B96B8, 0px -5px 50px #7B96B8; } }
@media (max-width: 640px) {
  .header .header_title {
    font-size: 2em;
    padding: 15px 0 15px 0; } }
@media (max-width: 320px) {
  .header .header_title {
    font-size: 1.3em;
    padding: 15px 0 10px 0; } }
.news_and_pagination {
  display: flex;
  flex-direction: column; }
  .news_and_pagination .all_news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    .news_and_pagination .all_news .single_news {
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
      border-radius: 8px;
      background: #fff;
      margin: 0 0 20px 0; }
      .news_and_pagination .all_news .single_news .news_image {
        position: relative;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        opacity: 1; }
        .news_and_pagination .all_news .single_news .news_image:hover {
          opacity: 0.7;
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }
        .news_and_pagination .all_news .single_news .news_image .news_title {
          color: #fff;
          position: absolute;
          bottom: 30%;
          font-size: 1.2em;
          font-weight: 700;
          text-shadow: 5px 5px 10px #000;
          padding: 0 1em; }
      .news_and_pagination .all_news .single_news .news_content {
        background: #fff;
        font-size: 0.9em;
        line-height: 1.6em;
        color: black;
        padding: 1.5em 1.5em;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
        .news_and_pagination .all_news .single_news .news_content .date_author {
          display: flex;
          flex-wrap: wrap;
          font-size: 0.9em;
          justify-content: space-between;
          color: gray;
          margin-bottom: 1em; }
        .news_and_pagination .all_news .single_news .news_content .news_text {
          font-size: 1.2em; }
  .news_and_pagination .news_pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #000;
    background: #fff;
    padding: 1em 0;
    text-align: center;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45); }
    .news_and_pagination .news_pagination .numbering_element {
      margin: 0.4em 0; }
      .news_and_pagination .news_pagination .numbering_element .news_pagination_block {
        border: 1px solid green;
        border-radius: 4px;
        padding: 0.1em 0.5em;
        margin: 0 0.15em;
        color: black; }
        .news_and_pagination .news_pagination .numbering_element .news_pagination_block:hover {
          color: #fff;
          background: green; }
      .news_and_pagination .news_pagination .numbering_element .news_pagination_block_active {
        color: #fff;
        background: green; }

@media (max-width: 449px) {
  .news_image {
    max-height: 300px; } }
@media (min-width: 450px) {
  .news_and_pagination .all_news .single_news {
    width: calc(50% - 10px); }
    .news_and_pagination .all_news .single_news .news_image {
      max-height: 370px; }
      .news_and_pagination .all_news .single_news .news_image .news_title {
        font-size: 1em; } }
@media (min-width: 641px) {
  .news_and_pagination .all_news .single_news {
    width: unset; }
    .news_and_pagination .all_news .single_news .news_image .news_title {
      font-size: 1.2em; } }
@media (min-width: 768px) {
  .news_and_pagination .all_news .single_news {
    width: calc(50% - 10px); }
    .news_and_pagination .all_news .single_news .news_image {
      max-height: 370px; } }
@media (min-width: 900px) {
  .news_image {
    max-height: 370px; } }
@media (min-width: 1600px) {
  .news_and_pagination .all_news .single_news {
    width: calc(33.33% - 10px); }
    .news_and_pagination .all_news .single_news .news_image {
      max-height: 370px; } }
.hamburger_menu {
  background: #11af11c7;
  border-radius: 5px;
  padding: 0.2em 0.3em;
  text-align: center;
  font-size: 1.7em;
  right: 0;
  position: fixed;
  margin: 10px 20px; }
  .hamburger_menu .hamburger_title {
    font-size: 0.5em; }

@media (min-width: 641px) {
  .hamburger_menu {
    display: none; } }
@media (max-width: 320px) {
  .hamburger_menu {
    padding: 0.1em 0.2em;
    margin: 0; } }

/*# sourceMappingURL=styles.css.map */
