
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a75a1+0,49749f+44,3d6691+100 */
$background_header1: rgb(0,138,0); /* Old browsers */
$background_header2: -moz-linear-gradient(45deg,  rgba(0,138,0,1) 0%, rgba(48,163,27,1) 20%, rgba(58,168,43,1) 65%, rgba(31,137,31,1) 100%); /* FF3.6-15 */
$background_header3: -webkit-linear-gradient(45deg,  rgba(0,138,0,1) 0%,rgba(48,163,27,1) 20%,rgba(58,168,43,1) 65%,rgba(31,137,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
$background_header4: linear-gradient(45deg,  rgba(0,138,0,1) 0%,rgba(48,163,27,1) 20%,rgba(58,168,43,1) 65%,rgba(31,137,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#1f891f',GradientType=1 )"; /* IE6-9 fallback on horizontal gradient */

$margin_basic: 20px;
$margin_big: 40px;
$font_size_header: 1.2em;
$font_size_header_small: 1em;
$font_size_content_small: 0.85em;
$font_weight_header: 700;
$padding_header: 0.55em;
$border_radius_header: 8px;
