<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football App</title>
    <meta http-equiv="Content-Type" content="text/html; charsuet=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>

<div class="ml-4 mt-4">
    <form th:object="${round}" th:action="|/rounds|" th:method="post">
        <!--    Hidden field necessary for updates-->
        <input type="hidden" th:field="*{id}"/>
        <!--    Handle season id to add round to proper season-->
        <input type="hidden" th:value="${seasonId}" name="seasonId"/>
        <!--    Input round number-->
        Numer kolejki:
        <input type="number" th:field="*{roundNumber}" class="form-control mb-3 col-2"/>
        <!--    Input round date-->
        Data rundy(domyślna wartość dla meczy w rundzie):
        <input type="date" class="form-control mb-3 col-2" th:field="*{roundStartDate}" th:value="*{roundStartDate}" />
        <!--    Errors-->
        <p class="alert alert-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        <!--    Save-->
        <button type="submit" class="btn btn-info col-1">Zapisz</button>
        <a th:href="|/seasons/show-rounds/${seasonId}|" class="btn btn-info col-1">Powrót</a>
    </form>
</div>

</body>
</html>