<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football App</title>
    <meta http-equiv="Content-Type" content="text/html; charsuet=UTF-8"/>
</head>
<body>

<form th:object="${season}" th:action="@{/seasons}" th:method="post">
    <label>Nazwa sezonu: </label>
    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{seasonName}" />
    <input type="submit" value="Zatwierdź" />
</form>

</body>
</html>