<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football App</title>
    <meta http-equiv="Content-Type" content="text/html; charsuet=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script>
        // Use <br> as break and not enclose text in <p> when pressing <Enter> or <Shift+Enter>
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.config.fillEmptyBlocks = false;    // Prevent filler nodes in all empty blocks

        // Remove all formatting when pasting text copied from websites or Microsoft Word
        CKEDITOR.config.forcePasteAsPlainText = true;
        CKEDITOR.config.pasteFromWordRemoveFontStyles = true;
        CKEDITOR.config.pasteFromWordRemoveStyles = true;

        // Custom dimensions
        CKEDITOR.config.height = 300;
        CKEDITOR.config.width = 700;
    </script>
</head>
<body>

<div class="ml-4 mt-4 form-row justify-content-center">

    <form th:method="post" th:action="|/save-important-message|" class="form-horizontal">

        <!-- Important message content-->
        <textarea id="importantMessageContent" name="importantMessageContent"
                  th:value="${importantMessageContent}" th:text="${importantMessageContent}"></textarea>
        <script>
            CKEDITOR.replace('importantMessageContent', {
                allowedContent: true,
                width: '100%',
                height: '300px'
            });
        </script>
        <br/>

        <!-- Show important message(set true or false) -->
        <table class="table table-striped" style="border: 2px solid #dee2e6">
            <tr>
                <td style="text-align: center; vertical-align: middle; width: 10%">
                    <input type="checkbox" name="importantMessageFlag" style="transform: scale(1.2)"
                           th:checked="${importantMessageFlag}">
                    <input type="hidden" th:value="${importantMessageFlag}" name="_importantMessageFlag"/>
                </td>
                <td style="vertical-align: middle">
                    <h6>Pokaż banner "Ważna informacja"</h6>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-info col-2">Zapisz</button>
    </form>

</div>

</body>
</html>