<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body>

<div layout:fragment="content" class="article">
    <div class="article_title">
        <h2 th:text="${news.title}"></h2>
    </div>

    <div class="date_author">
        <div th:text="|Dodano:&nbsp;${#temporals.format(news.dateTime, 'dd.MM.yy,&nbsp;HH:mm')}|"></div>
        <div th:text="|Autor:&nbsp;${news.author}|"></div>
    </div>

    <div class="article_content">
        <!--/* News image */-->
        <picture th:if="${news.mainImageSource != '' && news.mainImageSource != null}">
            <!-- /* Big image for big the resolution */ -->
            <source media="(min-width: 2000px)" th:attr="data-srcset=${news.mainImageSource}"/>
            <!-- /* Thumbnail image for the other resolutions */ -->
            <source th:if="${#strings.substringAfter(news.mainImageSource, '/images/')} != null"
                    th:attr="data-srcset=
                        '/images/thumbnail.' + ${#strings.substringAfter(news.mainImageSource, '/images/')}">
            <!-- /* Compatibility with old browsers */ -->

            <img th:attr="data-src=${news.mainImageSource}" alt="Obrazek aktualności" class="full_news_main_image lazyload">
        </picture>

        <!--/* Helpful br for the responsive */-->
        <br class="display_br" th:if="${news.mainImageSource != '' && news.mainImageSource != null}" />

        <!--/* News content */-->
        <span th:utext="${news.content}"></span>
    </div>
</div>

</body>
</html>