<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football App</title>
    <meta http-equiv="Content-Type" content="text/html; charsuet=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <table class="table table-bordered table-striped">
        <caption>Lista graczy</caption>
        <thead class="thead-dark">
        <th>Imię</th>
        <th>Nazwisko</th>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <a th:href="seasons">Sezony</a>
    <hr/>
    <a th:href="@{/teams}">Drużyny</a>
    <hr/>
    <a th:href="results">Wyniki</a>
    <hr/>
</div>

</body>
</html>