<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <title>Football App</title>
    <meta name="author" content="Dominik Drabina">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/icons/css/fontello.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="hamburger_menu">
    <div class="hamburger_icon icon-menu-outline"></div>
    <div class="hamburger_title">Menu</div>
</div>

<div class="app">

    <!--    Header(logo etc.)-->
    <div class="header">
        <div class="logo_crest">
            <img th:src="@{/img/herb-logo2.png}"/>
        </div>
        <div class="header_title"><h1>KS&nbsp;Husaria Łapczyca</h1></div>
        <!--        Menu-->
        <div style="z-index: 1">
            <ol id="menu">
                <li><a th:href="@{/}"><i class="icon-home-outline"></i></a></li>
                <li class="dol"><a href="#"><i
                        class="icon-football-or-soccer-board-with-results-of-games"></i>Tabela</a>
                    <ul>
                        <li><a href="#">link - 1</a></li>

                        <li class="prawo"><a href="#">link - 2</a>
                            <ol>
                                <li><a href="#">dodany - 1</a></li>
                                <li><a href="#">dodany - 2</a></li>
                                <li><a href="#">dodany - 3</a></li>
                                <li><a href="#">dodany - 4</a></li>
                                <li><a href="#">dodany - 5</a></li>
                                <li><a href="#">dodany - 6</a></li>
                            </ol>
                        </li>

                        <li class="prawo"><a href="#">link - 3</a>
                            <ol>
                                <li><a href="#">dodany - 1</a></li>
                                <li><a href="#">dodany - 2</a></li>
                                <li><a href="#">dodany - 3</a></li>
                                <li><a href="#">dodany - 4</a></li>
                            </ol>
                        </li>

                        <li><a href="#">link - 4</a></li>
                        <li><a href="#">link - 5</a></li>
                    </ul>
                </li>

                <li class="dol"><a href="#"><i class="icon-calendar"></i>Terminarz</a>
                    <ul>
                        <li><a href="#">link - 1</a></li>

                        <li class="prawo"><a href="#">link - 2</a>
                            <ol>
                                <li><a href="#">dodany - 1</a></li>
                                <li><a href="#">dodany - 2</a></li>
                                <li><a href="#">dodany - 3</a></li>
                                <li><a href="#">dodany - 4</a></li>
                                <li><a href="#">dodany - 5</a></li>
                            </ol>
                        </li>

                        <li><a href="#">link - 3</a></li>
                    </ul>
                </li>
                <li class="dol"><a href="#"><i class="icon-dollar" style="padding-right: 5px"></i>Sponsorzy</a>
                    <ul>
                        <li><a href="#">link - 1</a></li>
                        <li><a href="#">link - 2</a></li>
                        <li><a href="#">link - 3</a></li>
                        <li><a href="#">link - 4</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-mail"></i>Kontakt</a></li>
            </ol>
        </div>
    </div>

    <div class="previous_next_match">

        <!--        Previous match-->
        <div class="previous_match">
            <div class="previous_match_title icon-back-in-time">
                Poprzedni mecz
            </div>
            <div class="previous_match_content">
                <div class="match_exist" th:if="${previousMatch != null}">
                    <div class="match_team_score">

                        <div class="match_teamname_crest">
                            <img class="match_crest" th:src="${previousMatch.homeTeam.crestSource}"/>
                            <span th:text="${previousMatch.homeTeam.teamName}"></span>
                        </div>

                        <div th:if="${previousMatch.homeScore != null && previousMatch.awayScore != null}" class="match_score">
                            <span th:text="${previousMatch.homeScore}"
                                  th:classappend="|
                                  ${previousMatch.homeScore > previousMatch.awayScore ? 'color_score_win' : ''}
                                  ${previousMatch.homeScore < previousMatch.awayScore ? 'color_score_lose' : ''}
                                  ${previousMatch.homeScore == previousMatch.awayScore ? 'color_score_draw' : ''}|">
                            </span>
                            &nbsp;:&nbsp;
                            <span th:text="${previousMatch.awayScore}"
                                  th:classappend="|
                                  ${previousMatch.homeScore > previousMatch.awayScore ? 'color_score_lose' : ''}
                                  ${previousMatch.homeScore < previousMatch.awayScore ? 'color_score_win' : ''}
                                  ${previousMatch.homeScore == previousMatch.awayScore ? 'color_score_draw' : ''}|">
                            </span>
                        </div>

                        <div th:if="${previousMatch.homeScore == null || previousMatch.awayScore == null}">
                            &nbsp;-&nbsp;:&nbsp;-&nbsp;
                        </div>
                        <div class="match_teamname_crest">
                            <img class="match_crest" th:src="${previousMatch.awayTeam.crestSource}"/>
                            <span th:text="${previousMatch.awayTeam.teamName}"></span>
                        </div>
                    </div>
                    <div class="match_date_time">
                        <div class="match_date">
                            <i class="icon-calendar" style="color: brown;"></i>Data:&nbsp;<span
                                th:text="${#temporals.format(previousMatch.matchDate, 'dd.MM.yyyy')}"></span>
                        </div>
                        <div class="match_time">
                            <i class="icon-clock" style="color: blueviolet;"></i>Godzina:&nbsp;<span
                                th:text="${#temporals.format(previousMatch.matchStartTime, 'HH:mm')}"></span>12:45
                        </div>
                    </div>
                </div>
                <div class="match_not_exist" th:if="${previousMatch == null}">
                    Brak ostatnich meczy
                </div>
            </div>
        </div>

        <!--        Next mach-->
        <div class="next_match">
            <div class="next_match_title icon-clock">
                Następny mecz
            </div>
            <div class="next_match_content">
                <div class="match_exist" th:if="${nextMatch != null}">
                    <span th:text="${nextMatch.homeTeam.teamName}"></span>
                    1:1
                </div>
                <div class="match_not_exist" th:if="${nextMatch == null}">
                    Brak nadchodzących meczy
                </div>
            </div>
        </div>

    </div>

    <!--    Main content-->
    <div class="content">

        <!--        News-->
        <div layout:fragment="content">
            <div style="color:black;background: white">Sample content</div>
        </div>

        <div class="sidebar">
            <div class="ranking">
                <div class="ranking_head icon-football-or-soccer-board-with-results-of-games">Tabela</div>
                <div class="ranking_content">

                    <table class="table-fill">
                        <thead>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-left">Drużyna</th>
                        <th scope="col" class="text-center">M</th>
                        <th scope="col" class="text-center">Pkt</th>
                        </thead>

                        <tbody class="table-hover">
                        <tr th:each="team, iteration : ${teams}">
                            <td class="text-center" th:text="${iteration.index + 1}"></td>
                            <td class="text-left">
                                <div class="table_crest_teamname">
                                    <img class="table_crest_img" th:src="${team.team.crestSource}"
                                         th:text="${team.team.teamName}"/>
                                </div>
                            </td>
                            <td class="text-center" th:text="${team.matchesPlayed}"></td>
                            <td class="text-center" th:text="${team.points}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <a>> Pokaż pełną tabelę <</a>
                </div>
            </div>
            <div class="results">
                <div class="results_head icon-football-ball">Ostatnia kolejka</div>
                <div class="results_content" th:if="${lastRound} != null">
                    <div th:each="match : ${lastRound.matches}">
                        <div class="single_match" th:if="${
                             match.homeScore != null &&
                             match.awayScore != null &&
                             match.homeTeam != null &&
                             match.awayTeam != null}">
                            <div class="team_name">
                                <img class="results_crest" th:src="${match.homeTeam.crestSource}"
                                     th:text="${match.homeTeam.teamName}"/>
                            </div>
                            <div class="score">
                            <span th:text="${match.homeScore}" th:classappend="|
                                  ${match.homeScore > match.awayScore ? 'color_score_win' : ''}
                                  ${match.homeScore < match.awayScore ? 'color_score_lose' : ''}
                                  ${match.homeScore == match.awayScore ? 'color_score_draw' : ''}|">
                            </span>
                                :
                                <span th:text="${match.awayScore}" th:classappend="|
                                  ${match.homeScore > match.awayScore ? 'color_score_lose' : ''}
                                  ${match.homeScore < match.awayScore ? 'color_score_win' : ''}
                                  ${match.homeScore == match.awayScore ? 'color_score_draw' : ''}|">
                            </span>
                            </div>
                            <div class="team_name">
                                <span th:text="${match.awayTeam.teamName}"></span>
                                <img class="results_crest" th:src="${match.awayTeam.crestSource}"/>
                            </div>
                        </div>
                    </div>
                    <a>> Kolejki <</a>
                </div>
                <div class="results_content" style="font-style: italic" th:if="${lastRound} == null"
                     th:text="'Brak wprowadzonych kolejek'"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="links">
            <div class="links_header">Przydatne linki:</div>
            <div class="all_columns">
                <div class="single_column">
                    <a href="http://podokreg.bochnia.pl">PPN Bochnia</a><br/>
                    <a href="http://ksbochnia.pl">Komisja Sędziowska</a><br/>
                </div>
                <div class="single_column">
                    <a href="http://www.90minut.pl/ligireg.php?id_sezon=93&id_okreg=5">90minut.pl</a><br/>
                    <a href="https://www.pzpn.pl">PZPN</a>
                </div>
                <div class="single_column">
                    <a href="http://www.mzpnkrakow.pl">MZPN</a>
                </div>
            </div>
        </div>
        <div class="author">
            <a href="https://www.linkedin.com/in/dominix77/" target="_blank">
                <i class="icon-linkedin linkedin_styles"></i> Dominik Drabina &copy; 2019</a>
        </div>
    </div>
</div>

</body>
</html>