<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
<div layout:fragment="content" class="news_and_pagination">
    <div class="all_news">
        <div class="single_news" th:each="news : ${newsList}">
            <div class="news_image">
                <a th:href="|/news/${news.id}|">

                    <!-- /* If the news has an image */ -->
                    <picture th:if="${news.mainImageSource != '' && news.mainImageSource != null}">
                        <!-- /* Big image for big the resolution */ -->
                        <source media="(min-width: 2000px)" th:attr="data-srcset=${news.mainImageSource}"/>
                        <!-- /* Thumbnail image for the other resolutions */ -->
                        <source th:if="${#strings.substringAfter(news.mainImageSource, '/images/')} != null"
                                th:attr="data-srcset=
                        '/images/thumbnail.' + ${#strings.substringAfter(news.mainImageSource, '/images/')}">
                        <!-- /* Compatibility with old browsers */ -->

                        <img th:attr="data-src=${news.mainImageSource}" alt="Obrazek aktualności" class="news_image lazyload">
                    </picture>

                    <!-- /* If the news has no image */ -->
                    <img th:if="${news.mainImageSource == '' || news.mainImageSource == null}"
                         class="news_image" src="/img/no-image.png" alt="Brak obrazka aktualności" />

                    <h2 class="news_title" th:text="${news.title}"></h2>
                </a>
            </div>

            <div class="news_content">
                <div class="date_author">
                    <div th:text="|Dodano:&nbsp;${#temporals.format(news.dateTime, 'dd.MM.yyyy,&nbsp;HH:mm')}|"
                         class="date_margin"></div>
                    <div th:text="|Autor:&nbsp;${news.author}|"></div>
                </div>

                <span class="news_text"
                      th:utext="${#strings.substringBefore(news.content, '<!--more-->') == null ? news.content : #strings.substringBefore(news.content, '<!--more-->')} + '...'"></span>
                <a th:href="|/news/${news.id}|" th:if="${#strings.substringBefore(news.content, '<!--more-->') != null}"
                   class="news_text">
                    <span class="speak_none">></span>Czytaj&nbsp;więcej<span class="speak_none"><</span></a>
            </div>
        </div>
    </div>
    <div class="news_pagination" th:unless="${newsList.empty}">

        <!--/* First page */-->
        <div class="numbering_element" th:if="${currentPage > 3}">
            <a class="news_pagination_block" th:href="|/|" title="Pierwsza strona"><<</a>
        </div>

        <!--/* Previous page '>' button */-->
        <div class="numbering_element" th:if="${currentPage > 1}">
            <a class="news_pagination_block" th:href="|/?page=${currentPage - 1}|"
               title="Poprzednia strona"><</a>
        </div>

        <div class="numbering_element" th:each="i : ${#numbers.sequence
                (currentPage < 3 ? 1 : newsList.totalPages-currentPage==2 ? currentPage-2 : newsList.totalPages-currentPage==1 ? currentPage-3 : newsList.totalPages-currentPage==0 ? currentPage-4 : currentPage - 2,
                newsList.totalPages-currentPage < 3 ? newsList.totalPages : currentPage==1 ? currentPage+4 : currentPage==2 ? currentPage+3 : currentPage+2)}">
            <a class="news_pagination_block" th:text="${i}"
               th:title="'Strona ' + ${i}"
               th:classappend="${currentPage} == ${i} ? 'news_pagination_block_active'"
               th:href="|/?page=${i}|"></a>
        </div>

        <!--/* Next page '>' button */-->
        <div class="numbering_element" th:if="${currentPage < newsList.totalPages}">
            <a class="news_pagination_block" th:href="|/?page=${currentPage + 1}|" title="Następna strona">></a>
        </div>

        <!--/* Last page */-->
        <div class="numbering_element" th:if="${currentPage < newsList.totalPages-2}">
            <a class="news_pagination_block" th:href="|/?page=${newsList.totalPages}|" title="Ostatnia strona">>></a>
        </div>
    </div>
</div>
</body>
</html>