<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football App</title>
    <meta http-equiv="Content-Type" content="text/html; charsuet=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Drużyna</th>
        <th scope="col">Mecze</th>
        <th scope="col">Punkty</th>
        <th scope="col">W</th>
        <th scope="col">R</th>
        <th scope="col">P</th>
        <th scope="col">G</th>
        <th scope="col">Różn</th>
        </thead>
        <tbody>
        <tr th:each="team, iteration : ${teams}">
            <th scope="row" th:text="${iteration.index + 1}"></th>
            <td th:text="${team.team.teamName}"></td>
            <td th:text="${team.matchesPlayed}"></td>
            <td th:text="${team.points}"></td>
            <td th:text="${team.won}"></td>
            <td th:text="${team.drawn}"></td>
            <td th:text="${team.lost}"></td>
            <td th:text="${team.goalsScored} + ':' + ${team.getGoalsConceded()}"></td>
            <td th:text="${team.goalsScored}-${team.getGoalsConceded()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>