
.icon-black-and-white-whistle-variant:before { content: '\e800'; } /* '' */
.icon-down-dir-1:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-checkered-flags:before { content: '\e803'; } /* '' */
.icon-couple-of-football-cones:before { content: '\e804'; } /* '' */
.icon-football-ball-variant:before { content: '\e805'; } /* '' */
.icon-football-coach-screaming:before { content: '\e806'; } /* '' */
.icon-football-court-top-view:before { content: '\e807'; } /* '' */
.icon-football-fans-group:before { content: '\e808'; } /* '' */
.icon-football-goalkeeper-catching-the-ball:before { content: '\e809'; } /* '' */
.icon-football-in-midair:before { content: '\e80a'; } /* '' */
.icon-football-jersey-shirt:before { content: '\e80b'; } /* '' */
.icon-football-long-socks:before { content: '\e80c'; } /* '' */
.icon-football-player-blocking-another-player:before { content: '\e80d'; } /* '' */
.icon-football-player-using-head-to-hit-ball:before { content: '\e80e'; } /* '' */
.icon-football-player-attempting-to-kick-ball:before { content: '\e80f'; } /* '' */
.icon-football-sports-gloves:before { content: '\e810'; } /* '' */
.icon-football-trophy-cup:before { content: '\e811'; } /* '' */
.icon-timer-clock:before { content: '\e812'; } /* '' */
.icon-menu-outline:before { content: '\e813'; } /* '' */
.icon-home-outline:before { content: '\e814'; } /* '' */
.icon-football-or-soccer-board-with-results-of-games:before { content: '\e815'; } /* '' */
.icon-football-ball:before { content: '\e816'; } /* '' */
.icon-football-badge:before { content: '\e817'; } /* '' */
.icon-football-card-with-cross-mark:before { content: '\e818'; } /* '' */
.icon-football-signal-of-a-game-announcement-of-one-team-vs-other:before { content: '\e819'; } /* '' */
.icon-football-team-bench:before { content: '\e81a'; } /* '' */
.icon-football-yellow-warning-card:before { content: '\e81b'; } /* '' */
.icon-inflatable-cheerer:before { content: '\e81c'; } /* '' */
.icon-football-stats-graphic:before { content: '\e81d'; } /* '' */
.icon-camera-alt:before { content: '\e81e'; } /* '' */
.icon-mail:before { content: '\e81f'; } /* '' */
.icon-location:before { content: '\e820'; } /* '' */
.icon-at:before { content: '\e821'; } /* '' */
.icon-thumbs-up:before { content: '\e822'; } /* '' */
.icon-calendar:before { content: '\e823'; } /* '' */
.icon-exclamation:before { content: '\e824'; } /* '' */
.icon-dollar:before { content: '\e825'; } /* '' */
.icon-doc:before { content: '\e826'; } /* '' */
.icon-clock:before { content: '\e827'; } /* '' */
.icon-back-in-time:before { content: '\e828'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */